@charset "utf 08";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* border: 1px solid black */;
}

body {
    color:rgba(0, 0, 0, 0.726);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: black;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar__header {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.navbar .list__item {
    font-size: 1rem;
    padding: 0.8rem;
}

.content {    
    margin-left: 300px;
    padding: 1.5rem;
}

.content__header {
    font-size: 2rem;
    margin: 2rem 0rem;
}

.content .article {
    padding: 0rem 1.5rem;
}

.content .article__paragraph {
    margin: 1.5rem 0rem;
}

.content .list {
    padding-left: 2.5rem;
}

.content .list__item {
    margin: 1.5rem 0rem 1.5rem 1.5rem;
}

